@font-face {
  font-family: 'iconfont';  /* project id 2108548 */
  src: url('https://at.alicdn.com/t/font_2108548_efx6fvf87su.eot');
  src: url('https://at.alicdn.com/t/font_2108548_efx6fvf87su.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2108548_efx6fvf87su.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2108548_efx6fvf87su.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2108548_efx6fvf87su.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2108548_efx6fvf87su.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e66d";
}

.icon-wode-copy:before {
  content: "\eb22";
}

.icon-tongxindu-copy:before {
  content: "\eb21";
}

.icon-tongxindu:before {
  content: "\e639";
}

.icon-shouye-copy:before {
  content: "\eb20";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-guanbifamen:before {
  content: "\e6d1";
}

.icon-gaojing:before {
  content: "\e608";
}

.icon-sanjiaoxia:before {
  content: "\e644";
}

.icon-zhankai:before {
  content: "\e61f";
}

.icon-shouqi:before {
  content: "\e87f";
}

.icon-pinzhi:before {
  content: "\e617";
}

.icon-renminbi:before {
  content: "\eb1f";
}

.icon-haunjing:before {
  content: "\e607";
}

.icon-youzhi:before {
  content: "\e6c6";
}

.icon-jieshui:before {
  content: "\e7b9";
}

.icon-gaojingshijian:before {
  content: "\e69d";
}

.icon-jiantou-left:before {
  content: "\e605";
}

.icon-jiantou-right:before {
  content: "\e606";
}

.icon-method-draw-image:before {
  content: "\e603";
}
